header img{
    padding-left: 350px;
}
body {
    font-family: sans-serif;
}
p{
    font-size:19px;
}
h1{
    text-align: center;
}
img{
    padding-left: 350px;
}
a{
   border-radius: 10px;
   background-color:red;
    color:black;
    text-decoration:none;
}
    
